/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the concentric circles */
.circle {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.circle-1 {
  width: 196px;
  height: 196px;
}

.circle-2 {
  width: 260px;
  height: 260px;
}

.circle-3 {
  width: 324px;
  height: 324px;
}

.circle-4 {
  filter: blur(4px);
  width: 392px;
  height: 392px;
}